.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .buttons {
    display: block;
  }

  .buttons button {
    width: 100%;
  }
}
.image-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* loading */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 100px;
  height: 100px;
  margin: 110px auto 0;
  border: solid 10px #8822aa;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.welcomeAdminDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 5px solid rgb(0, 131, 11);
  background-color: rgb(212, 255, 216);
}

.createBookBtn {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 131, 11);
  background-color: rgb(120, 238, 130);
  border-radius: 12px;
  padding: 10px;
}
